body{
	background-color: #232323;
	margin: 0;
}

.container{
	max-width: 600px;
	margin: 0 auto;	
}

.square{
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin :1.66%;
	border-radius: 10px;
}

h1{
	text-align: center;
	color: white;
	background-color: #2b63a8;
}

.show {
  opacity: 1;
  transition: opacity 1000ms;
}

.hide {
  opacity: 0;
  transition: opacity 1000ms;
}

#navigation{
	background-color: white;
	max-width: 600;
	text-align: center;
}

.activeButton{
	background-color: #2b63a8;
}

